body {
    
    background-color: rgb(37, 37, 102);
    margin-top: 400px;
    
}

.basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    gap: 100px;
  
}

h1 {
    color: #fff;
    text-align: center;
}


#poäng{
    font-size: xx-large;
    background-color: rgb(37, 37, 102);
    border: 2px solid #9AABD8;
    padding: 15px;
    border-radius: 10px;
    color: yellow;
    display: flex;
    justify-content: center;
}

#bpoäng {
    font-size: xx-large;
    background-color: rgb(37, 37, 102);
    border: 2px solid #9AABD8;
    padding: 15px;
    border-radius: 10px;
    color: yellow;
    display: flex;
    justify-content: center;
}


.h-knappar, .b-knappar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: x-large; 
}
button{
    font-size: x-large;
    background-color: rgb(37, 37, 102);
    border: 2px solid #9AABD8;
    border-radius: 10px;
    color: #9AABD8;
    
}



